.card *.img-gallery {
  width: 220px;
  height: 200px;
  border-radius: 6px;
}

.img-link {
  display: inline-block;
  margin-left: 6px;
  padding: 36px 0;
  width: 345px;
  height: 150px;
}

.open-hours {
  display: inline-block;
  margin-left: 10px;
  background-color: #ff6b6b;
  border-radius: 6px;
  text-align: center;
  height: 100px;
  width: 20%;
  text-transform: uppercase;
}

.open-text {
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
}

.open-date {
  color: #FFF;
  font-weight: bold;
}

.card img {
  margin-left: 20px;
  width: 340px;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
}

.img-title {
  color: #FFF;
  font-size: 24px;
  padding: 40px;

  &:hover {
    margin-top: -40px;
    transition-duration: 1s;
  }
}

.img-gallery {
  border-radius: 5px;
}

.ikon-item {
  color: red;
}

.fo {
  padding: 60px;
  font-size: 0;
  margin-left: 12px;

  &:hover {
    color: #ff6b6b;
    transition-duration: 1.2s;
    font-size: 24px;
  }
}

.main-carousel {
  padding: 80px 20px 20px 80px;
  width: 100%;
  margin-bottom: 40px;
}

.carousel-cell {
  width: 100%;

  img {
    width: 40%;
  }

  h2 {
    color: #ff6b6b;
    font-size: 16px;
    text-align: left;
    margin-left: 250px ;
    transform: translateY(-140px);
  }

  h3 {
    font-size: 12px;
    text-align: left;
    margin-left: 250px;
    transform: translateY(-120px);
  }
}
