.img-gallery {
  display: inline-block;
  width: 239px;
  height: 200px;
  padding: 4px;
  border-radius: 4px;
  justify-content: space-around;
}

.img-link {
  display: inline-block;
  margin-left: 6px;
  padding: 36px 0;
  width: 345px;
  height: 150px;
}

.open-hours {
  display: inline-block;
  margin-left: 10px;
  background-color: #ff6b6b;
  border-radius: 5px;
  text-align: center;
  height: 100px;
  width: 20%;
  text-transform: uppercase;
}

.open-text {
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
}

.open-date {
  color: #FFF;
  font-weight: bold;
}

.card img {
  margin-left: 20px;
  width: 340px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.img-subtitle {
  display: none;
  position: relative;
  padding-top: 20px;
  font-size: 12px;
  &:hover {
    display: block;
  }
}

.img-title {
  padding: 20px;
  color: #FFF;
  font-size: 24px;
  text-align: center;
  &:hover {
    color: #ff6b6b;
    text-decoration: none;
    margin-top: -50px;
    transition-duration: .7s;
  }
}

.img-gallery {
  border-radius: 5px;

}
